.banner__text {
  display: flex;
  gap: 1rem;
  background: var(--beige);
  padding: 5rem 8rem;
}

.banner__text-content {
  display: flex;
  align-items: center;
  gap: 1rem;
  line-height: 1.5;
}

.banner__text-content p {
  font-size: 0.8rem;
}

@media screen and (max-width: 1024px) {
  .banner__text {
    display: block;
    padding: 2rem 3rem;
  }
}

@media screen and (max-width: 768px) {
  .banner__text {
    padding: 1rem 1rem;
  }

  .banner__text-content p {
    font-size: 0.7rem;
  }
}
