.main {
  padding: 1rem 0;
}

.main__title--center {
  text-align: center;
  padding: 3rem;
  font-size: 2.2rem;
  font-weight: 700;
}

.main__img {
  display: flex;
  object-fit: contain;
  flex-wrap: wrap;
  justify-content: center;
}

.main__img img {
  padding: 0.5rem;
}

.main__img-content {
  position: relative;
}

.main__img-content a {
  color: var(--black);
}

.img-description {
  position: absolute;
  bottom: 10%;
  left: 5%;
  font-weight: 700;
}

.main__img-carrousel {
  max-width: 20%;
}

.main video {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .main__title--center {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .main__title--center {
    font-size: 1.5rem;
    padding: 1rem;
  }

  .main__img {
    display: grid;
    grid-template-areas:
      "img1 img2"
      "img3 img4"
      "img5 img6";
  }

  .main__img img {
    max-width: 180px;
  }

  .img-description {
    font-size: 0.7rem;
  }
}
